html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

ul li {
    list-style: none;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.option-box {
    width: 20%;
    min-width: 200px;
    height: 100%;
    background: black;
    color: #cccccc;
    transform: translate3d(0, 0, 0);
    /*transition: transform 0.2s;*/
}

.map-box {
    width: 80%;
    height: 100%;
}

.menu-box {
    width: 100%;
    height: 10%;
    background: #212121;
}

.menuIcon {
    position: relative;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    top: 50%;
    cursor: pointer;
}

#map {
    width: 100%;
    height: 90%;
}

.menu-hidden .option-box {
    width: 0;
    min-width: 0;
    transform: translate3d(-12em, 0, 0);
    transition: transform 0.2s;
}

.menu-hidden .map-box {
    width: 100%;
}

.map-error {
    text-align: center;
    padding: 20% 0;
}